/* @import "clk-css-templates"; */

.console-over-template__slot_body {
  box-shadow: 0px 0px 25px 0px #161A1D12;
  box-shadow: 0px 8px 16px 0px #161A1D08;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}
.console-template-container{
  background: #FAFAFA;

}